main, nav {
    display: flex;
    margin: 0 auto;
    padding: 0 12px;
}

nav {
    display: flex;
}

header, footer {
    background-color: white;
    padding: 24px 0;
}

header {
    border-bottom: 4px black;
}

body {
    background-color: f2f2f2;
    background-image: url(images/topography.svg);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

logo, link {
    color: black;
}

.logo {
    margin-right: auto;
}

.link {
    margin: 0 4px;
}

footer {
    text-align: center;
    margin-top: auto;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
}

.box-1 {
    background-color: whitesmoke;
    min-height: 100vh;
    order: 1;
    align-items: stretch;
}

.box-2 {
    background-color: whitesmoke;
    order: 2;
}